.game-detail-image {
    object-fit: cover;
    height: 600px;
    border-radius: $border-radius-xs;
}

.game-image {
    object-fit: cover;
}

.shop {
    .card-img-top {
        object-fit: cover;
        height: 170px;
    }
}

.img-coming-soon {
    object-fit: cover;
    height: 200px;
}
